video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  
}

#interactive.viewport {
  width: 85%;
  height: 85%;
  max-height: 65vh;
}

#interactive.viewport canvas, video {
  float: left;
  width: 85%;
  height: 85%;
  max-height: 65vh;
}

.drawingBuffer{

}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -640px;
} 

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: black solid 2px; */
}