.Form {
  background-color: #fede4f;
  text-align: center;
}

.ContactTitle{
  text-align: center;
  font-size: 2rem;
  margin: 2vh 0;
  padding: 2vh;
}

.Button{
  margin-top: 4vh;
  margin-bottom: 10vh;
}

@media screen and (min-width: 1000px) {
  .Button{
    margin-top: 4vh;
    margin-bottom: 2vh;
  }
}

.container {
  height: 90vh;
  background-color: #fede4f;
}

@media screen and (min-width: 1000px) {
  .container {
    height: 85vh;
    background-color: #fede4f;
  }
}