.Form {
  background-color: #fede4f;
  text-align: center;
  height: 85vh;
}

.ContactTitle{
  text-align: center;
  font-size: 2rem;
  margin: 2vh 0;
  padding: 2vh;
}

.Button{
  margin-top: 4vh;
  margin-bottom: 10vh;
}