.Bg {
  background-image: url(https://www.dhresource.com/0x0s/f2-albu-g5-M01-96-03-rBVaJFjkrsqAKZfiAAisSgsc3RU281.jpg/susu-digital-printing-fondali-fotografia.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}