.footer {
  position: absolute;
  bottom: 0;
}
h3 {
  font-size: 1rem !important;
}

.youtube {
  color: black;
}

.facebook {
  color: black;
}

.twitter {
  color: black;
}

.Mobile {
  font-weight: 600 !important;
}

/* Grow */
.HvrGrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  margin: 0 1rem;
}

.HvrGrow:hover,
.HvrGrow:focus,
.HvrGrow:active {
  transform: scale(1.1);
}
