h3 {
	font-size: 1.3rem !important;
	font-family: "Patrick Hand SC", cursive;
}

.youtube {
	color: #495057;
}
.youtube:hover, 
.youtube:active {
	color: #e26d38;
}

.facebook {
	color: #495057;
}
.facebook:hover, 
.facebook:active {
	color: #e26d38;
}

.twitter {
	color: #495057;
}
.twitter:hover, 
.twitter:active {
	color: #e26d38;
}

.Mobile {
	font-weight: 600 !important;
}

.HvrGrow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	margin: 0 1rem;
}

.HvrGrow:hover,
.HvrGrow:focus,
.HvrGrow:active {
	transform: scale(1.1);
}