.bgBlock {
	background-color: #fede4f;
}

.notice {
	font-family: "Patrick Hand", cursive;
	font-size: 1.5rem;
	padding: 5px;
	align-self: flex-start;
	background-color: #44a49d;
}

.text {
	font-family: "Patrick Hand", cursive;
	text-align: center;
	font-size: 2rem;
	color: #86328b;
}