.container {
  text-align: center;
  background-color:#FEDE4F;
  flex: 1;
}

.inputText{
margin-bottom: 2vh;
padding-top: 2vh;
}

.scan{
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}