.container {
  text-align: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.inputBar{
  max-width: 50vw !important;
  align-self: center;
  margin-top: 3vh;
}


.scan{
padding: 10px;

border-radius: 30px;
align-self: center;
max-width: 70vw;
}
@media (max-width: 991px) {
  .scan {
    max-width: 100vw;
  }
  .inputBar{
    max-width: 90vw !important;
    align-self: center;
    margin-top: 3vh;
  }
}
