.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Site-Content {
  flex: 1 0 auto;
  width: 100%;
}
.Site-NavBar {
  min-height: 7vh;
}
.Site-Footer {
  height: 8vh;
}
.Site-Children {
  min-height: 85vh;
}