.container {
  background-color: white;
}
.h2Laptop {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  background-color: #E26D38;
  color: white;
}
.h2Mobile {
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem !important;
  background-color: #E26D38 !important;
  color: white;
}