/* CSS NORMAL */

/* .Card:hover img {
	visibility: hidden;
}
.Card {
	position: relative;
}
.Card:hover h3 {
	visibility: hidden;
}

.background:hover {
	background-color: peachpuff;
}

.CardText p {
	visibility: hidden;
}

.CardText:hover p {
	visibility: visible;
}

.Presentation {
	position: absolute;
} */

/* TEST CSS STYLE */
* {
	border: 1px dotted green;
}

.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}

.hovereffect img {
	/* display: block;
	position: absolute; */
	width: 100%;
	width: auto;
	transition: opacity 0.35s, transform 0.45s;
	transform: translate3d(0px, -40px, 0);
}

.hovereffect .CardTitle {
	color: red;

	font-size: 17px;
	padding-bottom: 10px;
}

.hovereffect p {
	color: black;
	position: absolute;
	font-weight: bold;
	margin-top: 25%;
	margin-left: 5%;
	margin-right: 5%;
	opacity: 0;
	transition: opacity 0.35s, transform 0.45s;
	transform: translate3d(-10px, 0, 0);
}

.hovereffect:hover img {
	opacity: 0.1;
	transform: translate3d(0, 0, 0);
}

.hovereffect:hover p {
	opacity: 1;
	vertical-align: bottom;
}
