.Card:hover img {
	visibility: hidden;
}

.CardText p {
	visibility: hidden;
}

.CardText:hover {
	visibility: visible;
}

/* .hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #42b078;
} */
