.Card:hover img {
	visibility: hidden;
}
.Card {
	position: relative;
}
.Card:hover h3 {
	visibility: hidden;
}

.background:hover {
	background-color: peachpuff;
}

.CardText p {
	visibility: hidden;
}

.CardText:hover p {
	visibility: visible;
}

.Presentation {
	position: absolute;
}

/* .hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #42b078;
} */
