.Link {
	color: rgb(104, 172, 83) !important ;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Patrick Hand SC", cursive;
	background-color: white;
	font-size: 1.5rem;
}

.imgLogo {
	width: 250px;
	text-align: center;	
}

@media screen and (min-width: 1000px) {
	.imgLogo {
		width: 250px;
		margin-left: 20px;
	}
}
