.Link {
	color: black !important ;
	font-weight: 500;
	letter-spacing: 1px;
	font-family: "Patrick Hand SC", cursive;
	background-color: white;
	font-size: 1.5rem;
}

.imgLogo {
	width: 200px;
}

/* @media screen and (min-width: 1000px) {
	.imgLogo {
		width: 250px;
		margin-left: 20px;
	}
} */
